
body {
margin: 0px;
padding: 0px;
}

div.table {
    display: table;
}

#canvas {
    display: table-cell;
    border:2px solid blue;
    vertical-align: top;  
}

#info {
    display: table-cell;
    border:2px solid red;
    padding: 1em;
    vertical-align: top;
    overflow: scroll;
}

#buttons {
    display: inline-block;
    border:2px solid black;
}

.col{
  float: left;
  width: 600px;
}
.col + .col{
  float: left;
  width: 600px;
  margin-left: 20px;
}

.carac {
    display:inline-block;
    width: 100%;
    height:300px;
    margin: 1mm 2mm;
    border:1px solid red;
}
