
body {
margin: 0px;
padding: 0px;
}

.table {
    display: table;
}

.table div {
    display: table-cell;
}

.trow {
    display: table-row;
}

#canvas {
    /* display: table-cell; */
    border:2px solid blue;
    vertical-align: top;  
}

#info {
    border:2px solid red;
    padding: 1em;
    vertical-align: top;
    overflow-y: scroll;
    max-height: 800px;
}

#buttons {
    display: inline-block;
    border:2px solid black;
}

.col{
  float: left;
  width: 600px;
}
.col + .col{
  float: left;
  width: 600px;
  margin-left: 20px;
}

.carac {
    box-sizing: border-box;
    width: 600px;
    height:300px;
    margin: 1mm 2mm;
    border:1px solid red;
}

.row {
    display: block;
    position: relative;
}

.row div {
        display: inline-block;
        vertical-align: top;
}

.cell {
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
}
